hr.new2 {
  border: 3px solid rgb(134, 142, 143);
  border-radius: 5px;
  }

  .navbar-brand {
    font-size: 1.8rem;
    font-family: 'Varela Round', sans-serif;
}

.nav-item{

  font-family: 'Varela Round', sans-serif;

}

h1{
    margin-bottom: 1rem;
    line-height: 2;
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
}

  .m-5 {
    margin: 1.5rem!important;
}

.mb-1 {
  margin-bottom: 0rem!important;
}
#fname{
  margin-bottom: 20px;
}
#lname {
  margin-top: 3px;
  margin-bottom: 10px;
}

input::placeholder {
padding: 6px;
}

#button{
  margin-top: 10px;
  background-color:#17a2b8;
  color: white;
  padding: 10px;
  border-color: #17a2b8;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 768px){
  [class*="col-"]{
    width: 100%;
  }
    
}
@media only screen and (max-width: 768px){
.nav {
  float: none;
  width: 100%;
}
}