* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	justify-content: center;
	text-align: center;
	background: #000;
}

#home {
	display: inline-flex;
	font-size: 60px;
	margin-right: 200px;
	color: gray;
}

#home a {
	color: crimson;
}

#contact {
	display: inline-flex;
	margin-left: 20px;
	color: gray;
	font-family: 'Comfortaa', cursive;

}

#light {
	display: inline-flex;
	font-size: 60px;
	margin-top: 20px;
	margin-left: 200px;
}

#light a {
	color: royalblue;
}



#main {
	margin-bottom: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

ul {
	position: relative;
	display: flex;
}

ul li {
	position: relative;
	list-style: none;
	margin: 0 30px;
	cursor: pointer;
}

ul li a {
	text-decoration: none;
}

ul li a .fa {
	font-size: 6rem;
	color: #222;
}

ul li::before {
	font-family: fontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 6em;
	height: 0;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

ul li:nth-child(1)::before {
	content: '\f09b';
	color: white;
	border-bottom: 4px solid whitesmoke;
	pointer-events: none
}

ul li:nth-child(2)::before {
	content: '\f0e1';
	color: blue;
	border-bottom: 4px solid blue;
	pointer-events: none
}

ul li:nth-child(3)::before {
	content: '\f0e0';
	color: red;
	border-bottom: 4px solid red;
	pointer-events: none
}

ul li:nth-child(4)::before {
	content: '\f098';
	color: lightgreen;
	border-bottom: 4px solid lightgreen;
	pointer-events: none
}

ul li:hover::before {
	height: 100%;
}

.btn {
	padding: 20px 50px;
	display: inline-block;
	background: lightgreen;
	color: white;
	text-decoration: none;
	transition: 0.35s ease-in-out;
	font-weight: 700;
}

.btn:hover {
	background: #dc1029;
}

.overlay {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	opacity: 0;
	pointer-events: none;
	transition: 0.35s ease-in-out;
	max-height: 100vh;
	overflow-y: auto;
}

.overlay.open {
	opacity: 1;
	pointer-events: inherit;
}

.overlay .modal {
	background: white;
	text-align: center;
	padding: 40px 80px;
	box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
	opacity: 0;
	pointer-events: none;
	transition: 0.35s ease-in-out;
	max-height: 100vh;
	overflow-y: auto;
}

.overlay .modal.open {
	opacity: 1;
	pointer-events: inherit;
}

.overlay .modal.open .content {
	transform: translate(0, 0px);
	opacity: 1;
}

.overlay .modal .content {
	transform: translate(0, -10px);
	opacity: 0;
	transition: 0.35s ease-in-out;
}

.overlay .modal .title {
	margin-top: 0;
}