body {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  /* padding: 0; */
  /* min-height: 100vh; */
  /* background: #333; */
  /* justify-content: center;
  font-family: consolas; */
  ul {
    position: relative;
    display: flex;
  }
  
  ul li {
    position: relative;
    list-style: none;
    margin: 0 10px;
    padding: 50px;
    cursor: pointer;

  }
  ul li a {
    text-decoration: none;
  }
  ul li a .fa {
    font-size: 5rem;
    color: #222;
  }
  ul li::before {
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  ul li:nth-child(1)::before {
    content: '\f015';
    color: red;
    border-bottom: 4px solid red;
  }
  ul li:hover::before {
    height: 100%;
  }