body {
  background-image: radial-gradient(#525252,#131313);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
    font-size: 1.8rem;
    font-family: 'Varela Round', sans-serif;
}

.nav-item{

  font-family: 'Varela Round', sans-serif;

}

h1{
    margin-bottom: 1rem;
    line-height: 2;
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
}

.mb-1 {
  margin-bottom: 0rem!important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

hr.new5 {
    border: 3px solid rgb(134, 142, 143);
    border-radius: 5px;
  }